################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Volkswagen.Dashboard.WebApi/DesignTimeBuild/.dtbcache.v2
