@page "/"

<PageTitle>Volkswagen Dashboard</PageTitle>

<div class="text-center">
    <h1 class="display-4">Volkswagen Dashboard</h1>
    <p class="lead">Sistema de gerenciamento de carros</p>

    <div class="mt-4">
        <a href="/login" class="btn btn-primary btn-lg me-2">Login</a>
        <a href="/cars" class="btn btn-outline-secondary btn-lg">Ver Carros</a>
    </div>
</div>
